# Python wprowadzenie do języka


Omawiane zagadnienia:

* Typy danych
    * Liczby
    * Ciągi znakowe
    * Listy
    * Słowniki
    * Wyrażenia logiczne
    * Tuples
    * Zbiory
* Operatory
* Wyrażenia warunkowe if,elif, else
* Pętle for
* Pętle while
* range()
* Listy
* Funkcje
* Wyrażenia lambda
* Mapy i filtry
* Metody

Za uruchomienie danego języka programowania odpowiada tzw. Kernel, kóry jest uruchamiany automatycznie po uruchomieniu pierwszej komórki.

In [1]:
a = 10
print(a)

# komentarz liniowy

10

### Semantyka języka Python

Wcięcia zamiast nawiasów

In [2]:
listOfNumbers = [1, 2, 3, 4, 5, 6]


for number in listOfNumbers:
    print(number) # 4-ry spacje
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")
print ("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done.

### Typy danych

#### Liczby

Python obsługuje wszystkie podstawowe typy skalarne:
- liczby całkowite, 
- liczby zmiennoprzecinkowe,
- liczby zespolone
- stałe logiczne (True, False). 

Pamiętaj, iż w pythonie wszystkie typy danych to obiekty !

In [3]:
# adding two values
1 + 1

2

In [4]:
1 / 3

0.3333333333333333

In [5]:
4 * 3

12

In [6]:
# potęgowanie
2 ** 4

16

In [7]:
# dzielenie modulo
4 % 2

0

In [8]:
5 % 2

1

In [9]:
5 // 2

2

In [10]:
1 & 0

0

In [11]:
0 | 1

1

In [12]:
1 == 1

True

In [13]:
2 != 6

True

In [14]:
4 < 4

False

In [15]:
4 <= 4

True

In [16]:
4 > 4

False

In [17]:
4 >= 4

True

In [18]:
4 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-18-8d051c03a365>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  4 is 5

False

In [19]:
4 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-19-9c35d3f66fb1>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  4 is not 6

True

In [20]:
(2 + 3) * (5 + 5)

50

In [21]:
# nazwa zmiennej nie może zaczynać się od cyfry lub znaku specjalnego
name_of_var = 2

In [22]:
# setting a variable
x = 2
y = 3

In [23]:
z = x + y

In [25]:
z
x
y

3

In [26]:
c = 2 + 1.5j

In [27]:
# checking a variables type
type(c)

complex

In [28]:
a = 12345312483417238127368123

In [29]:
a

12345312483417238127368123

In [30]:
type(a)

int

In [31]:
type(1)

int

In [32]:
a

12345312483417238127368123

In [33]:
A=9 

# case sensitive
a==A

False

In [34]:
# using double quotes
napis1 = "to jest tekst"
# using single quotes
napis2 = 'a to inny tekst'

In [35]:
napis1

'to jest tekst'

In [37]:
print napis1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(napis1)? (<ipython-input-37-9fc60ee957cc>, line 1)

In [38]:
napis2

'a to inny tekst'

In [39]:
print(napis1)
print(napis1, napis2)

to jest tekst
to jest tekst a to inny tekst

In [40]:
# konkatenacja dwóch stringów
napis1+napis2

'to jest teksta to inny tekst'

In [42]:
# powtarzanie napisów
"Fraud"*30

'SebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSebaSeba'

In [44]:
print(napis1,len(napis1))

to jest tekst 13

In [47]:
print(len("to jest na pisze spacjami"))

25

In [48]:
num = 37
name = 'John'

print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

print('My number is: {}, and my name is: {}'.format(num,name))

print(f"My number is: {num}, and my name is: {name}") # najbardziej przyjazny zapis

print('My number is: %i, and my name is: %s'%(num,name))

My number is: 37, and my name is: John
My number is: 37, and my name is: John
My number is: 37, and my name is: John
My number is: 37, and my name is: John

[INFO o pyformat](https://pyformat.info/)

In [49]:
st = ' Hello my name is Sebastian'

st.lower()

st.upper()

st.split()

# replacing text
st.replace('Hello', 'Bye!')

st.strip()

'Hello my name is Sebastian'

In [50]:
dir(st)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
tweet = 'Go Sports! #Sports'

tweet.split('#')

tweet.split('#')[1]

'Sports'

## Dynamiczne typowanie zmiennych

In [52]:
a = 3
print(type(a))

<class 'int'>

In [53]:
a='foo'
print(type(a))

<class 'str'>

In [54]:
'5'+5

TypeError: can only concatenate str (not "int") to str

In [55]:
a = 5

isinstance(a, (int,float))

True

### Moduły

W Pythonie moduł to po prostu plik z rozszerzeniem .py zawierający kod pythona.

In [56]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print(A)
type(np)

[30.64754463 27.69798287 33.0586724  32.00602335 22.73601858 25.34577421
 21.31488877 27.18010148 27.24957241 23.34125342]

module

In [57]:
# konwencja wczytywania bibliotek do analiz danych
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

> Zadanie  Utworz plik moj_modul.py i wklej do niego poniższy kod


```{python}

PI = 3.14159

def add_four(x):
    return x+4
```

In [60]:
%%file moj_modul.py
PI = 3.14159

def add_four(x):
    return x+4

Writing moj_modul.py

In [61]:
import moj_modul as mm

szesc = mm.add_four(2)
pi = mm.PI

In [62]:
print(pi*szesc)

18.849539999999998

In [63]:
from moj_modul import PI, add_four

siedem = add_four(3)

In [64]:
siedem

7

In [65]:
# innym sposobem może być zapis obiektu (wszystko jest obiektem!) do pliku w postaci binarnej pkl

import pickle

In [67]:
dogs_dict = { 'Ozzy': 3, 'Filou': 8, 'Luna': 5, 'Skippy': 10, 'Barco': 12, 'Balou': 9, 'Laika': 16 }

filename = 'dogs.pkl'
save_file = open(filename,'wb')
pickle.dump(dogs_dict,save_file)
save_file.close()

In [68]:
import_file = open(filename, 'rb')
nowy_dog = pickle.load(import_file)
import_file.close()

In [69]:
nowy_dog

{'Ozzy': 3,
 'Filou': 8,
 'Luna': 5,
 'Skippy': 10,
 'Barco': 12,
 'Balou': 9,
 'Laika': 16}

In [70]:
import bz2
sfile = bz2.BZ2File('smallerdog','w')
pickle.dump(nowy_dog,sfile)
sfile.close()

### Krotki (Tuples) 

Niemodyfikowanla sekwencja obiektów Pythona

In [71]:
x = (1, 2, 3)

In [72]:
len(x)

3

In [73]:
y = 4, 5, 6

y[2]

6

In [74]:
y[2]=3

TypeError: 'tuple' object does not support item assignment

In [75]:
n = tuple('napis')
n

('n', 'a', 'p', 'i', 's')

> Zadanie. czym jest 

```
(4,5,6),(8,7)

```

In [77]:
t, o = 'to jest tekst','a to dalsza czesc'

In [79]:
print(o,t)

print(o)

a to dalsza czesc to jest tekst
a to dalsza czesc

In [80]:
age, income = "23,34234".split(',')

In [83]:
int(age)

23

In [95]:
a = tuple("23,34234".split(','))

In [98]:
a[1]=3

TypeError: 'tuple' object does not support item assignment

In [99]:
a=5

In [100]:
a

5

In [84]:
int(income)

34234

In [85]:
a=1
b=2

In [86]:
a,b = b,a

In [87]:
a

2

In [88]:
b

1

> Zamień wartości a i b

### Listy

- indeksowanie zaczynamy od 0
- kontenery do przechowywania kolekcji informacji
- mogą zawierać liczby, tekst, elementy mieszane oraz inne listy (i obiekty)

In [101]:
x = [1, 2, 3, 4, 5, 6]

In [102]:
print(x)

[1, 2, 3, 4, 5, 6]

In [104]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [105]:
# concatenating lists
[1,2]+[3,4,5]

[1, 2, 3, 4, 5]

In [108]:
# repeating elements in list
[1,2]*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [109]:
print(len(x))

6

In [110]:
type(y)
y = list(y)

In [111]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [112]:
nest = [1,2,3,[4,5,['target']]]

In [113]:
l = [10,11,12,13,14]

In [115]:
# get element by index
print(type(l[0]),l[1],l[3])

<class 'int'> 11 13

In [116]:
# out of bounds
l[11]

IndexError: list index out of range

In [117]:
# negative indices
l[-2]

13

In [118]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [126]:
nest[3][2][0]

'target'

### slices

`var[lower:upper:step]`

In [129]:
x

[1, 2, 3, 4, 5, 6]

In [127]:
# pierwsze 3 elementy 0:3
x[:3]

[1, 2, 3]

In [128]:
# od trzeciego do końca 3:end
x[3:]

[4, 5, 6]

In [132]:
# dwa ostatnie 
x[-2:]

[5, 6]

In [134]:
x[2:-2]

[3, 4]

In [135]:
x.append(3)
x

[1, 2, 3, 4, 5, 6, 3]

In [136]:
x.count(3)

2

In [137]:
x

[1, 2, 3, 4, 5, 6, 3]

In [138]:
# rozszerzanie listy 
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 3, 7, 8]

In [139]:
print(x)
x.index(3)

[1, 2, 3, 4, 5, 6, 3, 7, 8]

2

In [148]:
x.insert(1,'abc')

In [149]:
x

[1, 'abc', (3, 7), 3, [3], 3, 2, 3, 4, 5, 6, 3, 7, 8]

In [150]:
x.index(2)

6

In [151]:
x.pop(5)

3

In [152]:
x

[1, 'abc', (3, 7), 3, [3], 2, 3, 4, 5, 6, 3, 7, 8]

In [153]:
x.remove(6)

In [154]:
x

[1, 'abc', (3, 7), 3, [3], 2, 3, 4, 5, 3, 7, 8]

In [155]:
x.reverse()

In [156]:
x

[8, 7, 3, 5, 4, 3, 2, [3], 3, (3, 7), 'abc', 1]

In [157]:
# listy list
y = [10, 11, 12]
listOfLists = [x, y]

In [159]:
listOfLists

[[8, 7, 3, 5, 4, 3, 2, [3], 3, (3, 7), 'abc', 1], [10, 11, 12]]

In [158]:
listOfLists
y[1]
# sortowanie
z = [3, 2, 1]

z.sort()
z

z.sort(reverse=True)
z

[3, 2, 1]

In [160]:
x = [2,3,4]
y = ['q','w','e']
z = zip(x,y)
list(z)

[(2, 'q'), (3, 'w'), (4, 'e')]

> Zadanie. Wyjaśnij na jaki obiekt działa metoda `join` oraz jaki typ używany jest jako argument.

In [162]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [161]:
' '.join(tweet.split('#'))

'Go Sports!  Sports'

In [163]:
len(x)

3

In [164]:
y = 4, 5, 6
y[2]

6

In [ ]:
listOfTuples = [x, y]
listOfTuples

In [165]:
l1 = [1,2,3,4]
l2 = l1

In [166]:
l2.append(5)

In [167]:
l1

[1, 2, 3, 4, 5]

In [168]:
l1 = [1,2,3]

In [171]:
l2 = l1[:] # l1.copy()

In [172]:
l2.append(4)


l1

[1, 2, 3]

In [173]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [174]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [175]:
list(range(5,2,-1))

[5, 4, 3]

### Słowniki

- przechowywanie danych w postawi `klucz-wartość`
- do każdego elementu dostajemy się poprzez wartość klucza
- klucze muszą być tekstem lub liczbą i nie mogą się powtarzać
- wartości mogą być dowolnym obiektem pythona
- porównaj z formatem JSON

In [176]:
d = {'key1':'item1','key2':'item2'}
d['key1']

'item1'

In [177]:
d.key1

AttributeError: 'dict' object has no attribute 'key1'

In [178]:
# pusty slowniek
captains = {}

In [179]:
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [180]:
captains

{'Enterprise': 'Kirk',
 'Enterprise D': 'Picard',
 'Deep Space Nine': 'Sisko',
 'Voyager': 'Janeway'}

In [181]:
# pętla po elementach
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Janeway

In [182]:
# metoda get
print(captains.get("Enterprise"))
print(captains.get("NX-01"))

Kirk
None

In [186]:
'Voyager' in captains.values()

False

In [189]:
del captains["Deep Space Nine"]

In [190]:
captains

{'Enterprise': 'Kirk', 'Enterprise D': 'Picard', 'Voyager': 'Janeway'}

In [199]:
list(captains.keys())

['Enterprise', 'Enterprise D', 'Voyager', 'imie', 'val', 1, '1']

In [192]:
list(captains.values())

['Kirk', 'Picard', 'Janeway']

In [202]:
# łączenie słowników
captains.update({(1,2,3):'Adam','val':[2,3,5,1]})

captains

{'Enterprise': 'Kirk',
 'Enterprise D': 'Picard',
 'Voyager': 'Janeway',
 'imie': 'Adam',
 'val': [2, 3, 5, 1],
 1: 'Adam',
 '1': 'Adam',
 (1, 2, 3): 'Adam'}

In [198]:
'1' in captains

True

In [200]:
mapowanie = {}
for k,v in zip(captains.keys(),captains.values()):
    mapowanie[k] = v

In [204]:
mapowanie

{'Enterprise': 'Kirk',
 'Enterprise D': 'Picard',
 'Voyager': 'Janeway',
 'imie': 'Adam',
 'val': [2, 3, 5, 1],
 1: 'Adam',
 '1': 'Adam'}

In [206]:
for k,v in enumerate(mapowanie):
    print(k,v)

0 Enterprise
1 Enterprise D
2 Voyager
3 imie
4 val
5 1
6 1

> Zadanie. Korzystając z funkcji range przygotuj slownik `{0:4, 1:3, 2:2, 3:1,4:0}`

In [207]:
dict(zip(range(5),reversed(range(5))))

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## time for time

In [208]:
from datetime import datetime, time, date

In [211]:
dt = datetime(2021,3,17,10,23,48)

In [212]:
dt.day

17

In [213]:
dt.minute

23

In [214]:
dt.date()

datetime.date(2021, 3, 17)

In [215]:
dt.time()

datetime.time(10, 23, 48)

In [216]:
dt.strftime('%d-%m-%Y %H:%M')

'17-03-2021 10:23'

In [219]:
## parsowanie
datetime.strptime('20210318','%Y%m%d')

datetime.datetime(2021, 3, 18, 0, 0)

### Wyrażenia logiczne

In [220]:
True

True

In [221]:
False

False

In [222]:
(true, false)

NameError: name 'true' is not defined

In [224]:
True and True

True

In [225]:
False or True

True

> Zadanie 3. Oblicz (1 == 2) or (2 == 3) or (4 == 4)

### Wyrażenia warunkowe if,elif, else

In [226]:
if 1 < 2:
    print('Yep!')

Yep!

In [233]:
if not []:
    print('Yep!')

Yep!

In [234]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 == 2:
    print('first')
elif 2 == 3:
    print('middle')
else:
    print('Last')

## NIE MA REALIZACJI SWITCH !!!

### Pętle *for*

In [237]:
x=3

In [238]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [239]:
x

9

In [242]:
for x in range(10):
    if x == 1:
        continue
    if x > 5:
        break
    print(x)

0
2
3
4
5

In [243]:
x = 0
while (x < 10):
    print(x)
    x += 1 # x=x+1

0
1
2
3
4
5
6
7
8
9

In [244]:
seq = [1,2,3,4,5]


for item in seq:
    print(item)

1
2
3
4
5

### Pętle *while*

In [245]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### Składanie list

In [ ]:
# [wyrazenie for wartosc in lista if warunek]

> Zadanie `napis = ['b','be','bat','cars','python']` wybierz wszystkie stringi o długości większej niż 2 i przetwórz je na wyrazy napisane dużymi literami

In [246]:
h_letters = []

for letter in 'human':
    # tutaj operacje 
    h_letters.append(letter)

print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [247]:
h_letters = [letter for letter in 'human' ]

print( h_letters)

['h', 'u', 'm', 'a', 'n']

In [248]:
number_list = [x for x in range(20) if x % 2 == 0]

print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [249]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]

print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [250]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [252]:
def fun(x):
    return len(x)

napis = ['b','be','bat','cars','python']

[x.upper() for x in napis if len(x)>2]

[fun(x) for x in napis if len(x)>2]

[3, 4, 6]

In [253]:
dlugosc = tuple(len(x) for x in napis)

In [254]:
dlugosc

(1, 2, 3, 4, 6)

In [255]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

dict1.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [256]:
# Double each value in the dictionary

double_dict1 = {k:v*2 for (k,v) in dict1.items()}



print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [257]:
dict1_keys = {k*2:v for (k,v) in dict1.items()}
print(dict1_keys)

{'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4, 'ee': 5}

In [258]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Check for items greater than 2
dict1_cond = {k:v for (k,v) in dict1.items() if v>2}

print(dict1_cond)

{'c': 3, 'd': 4, 'e': 5}

### Funkcje

In [263]:
def my_func(param1='default'):
    ''' Docstring goes here.'''

    print(param1)

In [264]:
print(my_func.__doc__)

 Docstring goes here.

In [267]:
my_func()

default

In [268]:
my_func('new param')

new param

In [270]:
my_func(param1="imie")

imie

In [271]:
def SquareIt(x):
    return x * x

In [272]:
print(SquareIt(2))

4

In [274]:
#You can pass functions around as parameters

def DoSomething(f, x):
    return f(x)

In [275]:
print(DoSomething(SquareIt, 3))

9

In [277]:
DoSomething(np.mean,[43,2,3])

16.0

In [278]:
# Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 3))

27

In [279]:
seq = [1,2,3,4,5]

map(SquareIt,seq)

In [280]:
list(map(SquareIt,seq))

[1, 4, 9, 16, 25]

In [281]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [282]:
filter(lambda item: item%2 == 0, seq)

In [283]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

### nie za dużo  o programowaniu funkcyjnym

In [284]:
def sey_hello(name):
    print(f'hello {name}')

In [285]:
## Każdą funckje możesz przypisać do zmiennej - wszystko jest obiektem !!!

sey = sey_hello

In [286]:
sey_hello('Seba')

hello Seba

In [287]:
sey('Monika')

hello Monika

In [288]:
# proste sterowanie 
ENVIRONMENT = 'dev'

In [289]:
def fetch_data_prod():
    print("robię coś skomplikowanego")

def fetch_data_dev():
    print("dane z banku M")
    return{
        'login': 'aaa123', 
        'age': 58  
    }

fetch_data=fetch_data_prod if ENVIRONMENT == 'prod' else fetch_data_dev

data = fetch_data()

dane z banku M

In [290]:
data

{'login': 'aaa123', 'age': 58}

In [291]:
# przetwarzanie 

def double(x):
    return 2*x

def minus_one(x):
    return x-1

def squared(x):
    return x*x

In [292]:
# old version 
my_number = 3
my_number = double(my_number)
my_number = minus_one(my_number)
my_number = squared(my_number)

print(f"Old Verion program return {my_number}")

Old Verion program return 25

In [293]:
# new wersion (better!!)
function_list =[
    double,
    minus_one,
    squared
]

In [294]:
my_number = 3
for func in function_list:
    my_number = func(my_number)

print(f"New Verion program return {my_number}")

New Verion program return 25

### Funkcje ze zmienną liczbą argumentów

In [ ]:
def funk(a,b,c):
    pass

In [295]:
def funk(*args):
    '''spakuj argumenty do krotki i wrzuc do funk'''
    print(args)
        
funk(1,2,3)
funk(1,2,3,4)

(1, 2, 3)
(1, 2, 3, 4)

In [296]:
def funk(*args):
    '''spakuj argumenty do krotki i wrzuc do funk'''
    print("Liczba przekazanych parametrów:",len(args))
    for arg in args:
        print ("Wartość:",arg)

In [297]:
lista = [1,3,5,6]
    
funk(1,lista,2,'xyz',3)

Liczba przekazanych parametrów: 5
Wartość: 1
Wartość: [1, 3, 5, 6]
Wartość: 2
Wartość: xyz
Wartość: 3

### a może słownik ?

In [298]:
def funk(**kwargs):
    print("Liczba przekazanych parametrów:",len(kwargs))
    
    for key, item in kwargs.items():
        print ("Klucz:", key, "Wartość:", item)
        
        
funk(a=1,b=2,c=3)

Liczba przekazanych parametrów: 3
Klucz: a Wartość: 1
Klucz: b Wartość: 2
Klucz: c Wartość: 3

In [300]:
def funk(*args, **kwargs):
    
    print("Liczba przekazanych parametrów *args:",len(args))
    for arg in args:
        print ("Args - Wartość:", arg)
    
    print("Liczba przekazanych parametrów **kwargs:",len(kwargs))
    for key, item in kwargs.items():
        print ("Kwargs - ", "Klucz:", key, "Wartość:", item)

In [301]:
        
funk(11,22,['x','y','z'],a=1,b=2,c=3)

Liczba przekazanych parametrów *args: 3
Args - Wartość: 11
Args - Wartość: 22
Args - Wartość: ['x', 'y', 'z']
Liczba przekazanych parametrów **kwargs: 3
Kwargs -  Klucz: a Wartość: 1
Kwargs -  Klucz: b Wartość: 2
Kwargs -  Klucz: c Wartość: 3

# Programowanie obiektowe

In [302]:
class Test(object):
    pass

In [303]:
a1 = Test()

In [304]:
dir(a1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [305]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [306]:
b2 = Test()

In [308]:
class Figura():
    '''First class'''
    def __init__(self, x ,y):
        self.x = x
        self.y = y

    def info(self):
        print(self.x, self.y)

    def _zmien(self, x, y):
        self.x = x
        self.y = y
    
    def przesun(self, dx, dy):
        self.info()
        self.x, self.y = self.x+dx, self.y + dy
        self.info()

In [309]:
o = Figura(1,-2)

In [310]:
o.

-2

In [311]:
o.y=3

In [312]:
o.y

3

In [313]:
b = Figura(3,4)
b.x
b.info()

3 4

In [315]:
o.info()
o._zmien(2,4)
o.info()

1 3
2 4

In [316]:
class Okrag(Figura):
    def __init__(self, x, y, r=1):
        super().__init__(x, y)
        self.r = r

    def info(self):
        print(f'x={self.x}, y={self.y}, r={self.r}')


ok = Okrag(0,0,3)
ok.info()
ok.przesun(10,15)

x=0, y=0, r=3
x=0, y=0, r=3
x=10, y=15, r=3

In [317]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [318]:
from random import randint

class Die(object):
    """Pojedyncza kość do gry"""
    def __init__(self, num_sides = 6):
        """Kość to zazwyczaj sześcian"""
        self.num_sides = num_sides

    def roll(self):
        """Zwraca wartość 1 do liczby ścianek losowo"""
        return randint(1,self.num_sides)

In [319]:
# PROGRAM
die = Die()

results = []
for roll_num in range(100):
    result = die.roll()
    results.append(result)

print(results)

[6, 2, 5, 6, 1, 5, 2, 2, 6, 3, 1, 3, 2, 5, 3, 4, 3, 5, 2, 4, 5, 5, 5, 3, 3, 5, 1, 5, 3, 6, 2, 1, 4, 6, 1, 2, 2, 6, 4, 4, 5, 4, 3, 3, 4, 2, 5, 3, 3, 3, 4, 5, 1, 1, 3, 3, 2, 1, 3, 1, 1, 4, 5, 2, 5, 2, 3, 4, 1, 6, 1, 4, 1, 1, 2, 4, 2, 1, 5, 2, 2, 3, 3, 2, 6, 6, 6, 4, 4, 6, 4, 3, 2, 4, 2, 5, 4, 1, 1, 3]

In [320]:
def rzucaj(ile):
    return [Die().roll() for x in range(ile)]

In [321]:
%timeit rzucaj(1000000)

1.1 s ± 30.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [322]:
import numpy as np

class DoubleList(list):
    
    def __init__(self, members):
        super().__init__(members)
    
    def numpy_array(self):
        return np.array(self)
    
    def __zero_rem(self):
        result = self.numpy_array()
        if 0 in result:
            result = result +1
        return DoubleList(result.tolist())
    
    def clean(self):
        return DoubleList(self.__zero_rem())

In [323]:
a = [0,1,2,5,6]

In [324]:
b = DoubleList(a)

In [325]:
type(b)

__main__.DoubleList

In [326]:
b

[0, 1, 2, 5, 6]

In [327]:
b.clean()

[1, 2, 3, 6, 7]